<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>基本列表</title>
    <script src="../vue.js/vue.js"></script>
  </head>

  <body>
    <div id="root">
      <!-- 遍历数组 -->
      <h2>人员列表</h2>
      <input type="text" placeholder="请输入名字" v-model="keyWord" />
      <button @click="sortType = 2">年龄升序</button>
      <button @click="sortType = 1">年龄降序</button>
      <button @click="sortType = 0">原顺序</button>
      <ul>
        <li v-for="(item,index) in filPersons" :key="item.id">
          {{item.name}}----{{item.age}}
          <input type="text" name="" id="" />
        </li>
      </ul>
    </div>
  </body>
  <script>
    Vue.config.production = false;

    Vue.config.production = false;
    new Vue({
      el: "#root",
      data: {
        keyWord: "",
        sortType: 0, // 0原顺序，1降序，2升序
        persons: [
          { id: "001", name: "马冬梅", age: 30, sex: "女" },
          { id: "002", name: "周冬雨", age: 31, sex: "男" },
          { id: "003", name: "周杰伦", age: 18, sex: "男" },
          { id: "004", name: "温兆伦", age: 21, sex: "男" },
        ],
      },
      computed: {
        filPersons() {
          const arr = this.persons.filter((item) => {
            return item.name.indexOf(this.keyWord) !== -1;
          });
          //判断一下是否需要排序
          if (this.sortType) {
            arr.sort((a, b) => {
              return this.sortType === 1 ? b.age - a.age : a.age - b.age;
            });
          }
          return arr;
        },
      },
    });
  </script>
</html>
